@font-face {
  font-family: 'GS-B';
  src: url("../assets/fonts/GmarketSansTTFBold.ttf");
}

@font-face {
  font-family: 'GS-M';
  src: url("../assets/fonts/GmarketSansTTFMedium.ttf");
}

@font-face {
  font-family: 'YES24';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_13@1.0/YES24.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.font-gs-b {
  font-family: "GS-B";
}

.font-gs-m {
  font-family: "GS-M";
}

.font-yes24 {
  font-family: "YES24";
}

body {
  background-color: rgb(244, 239, 250);
}